on:
  workflow_call:
    inputs:
      cli-name:
        required: true
        type: string
name: Release
jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Get Go version
        uses: arnested/go-version-action@4f88355b80420f36d5897c6dd7a33b151acc425e
        id: go-version
      - name: Set up Go
        uses: actions/setup-go@b22fbbc2921299758641fab08929b4ac52b32923
        with:
          go-version: ${{ steps.go-version.outputs.minimal }}
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@68acf3b1adf004ac9c2f0a4259e85c5f66e99bef
        with:
          distribution: goreleaser
          version: "v1.7.0"
          args: release --config ./.goreleaser/${{ inputs.cli-name }}.yml --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
