on:
  workflow_call:
    inputs:
      cli-name:
        required: true
        type: string
name: Release
jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
        with:
          fetch-depth: 0
      - name: Get Go version
        uses: arnested/go-version-action@75e53ba83545379e9f189ecb73b53b8b3e126c7f
        id: go-version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Go
        uses: actions/setup-go@f6164bd8c8acb4a71fb2791a8b6c4024ff038dab
        with:
          go-version: ${{ steps.go-version.outputs.minimal }}
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@b953231f81b8dfd023c58e0854a721e35037f28b
        with:
          distribution: goreleaser
          version: "v1.7.0"
          args: release --config ./.goreleaser/${{ inputs.cli-name }}.yml --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
