on:
  workflow_call:
name: Tests
jobs:
  get-go-versions:
    name: Collect available Go versions
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.versions.outputs.matrix }}
    steps:
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
      - uses: arnested/go-version-action@d44f8fbecf1ac5ea61d81603e99dfec9833f592f
        id: versions
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  run:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        go-version: ${{ fromJSON(needs.get-go-versions.outputs.matrix) }}
    runs-on: ${{ matrix.os }}
    needs: get-go-versions
    steps:
      - name: Checkout code
        uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579

      - name: Setup - Go ${{ matrix.go-version }}
        uses: actions/setup-go@f6164bd8c8acb4a71fb2791a8b6c4024ff038dab
        with:
          go-version: ${{ matrix.go-version }}

      - name: Setup - Python
        uses: actions/setup-python@7f80679172b057fc5e90d70d197929d454754a5a
        with:
          python-version: 3.6
          cache: "pip"
          cache-dependency-path: "requirements-test.txt"

      - name: Install Python dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install --upgrade -r requirements-test.txt

      - name: Run tests
        run: go test -race -covermode atomic -coverprofile='profile.cov' ./...

      - name: Send coverage
        uses: shogo82148/actions-goveralls@31ee804b8576ae49f6dc3caa22591bc5080e7920
        with:
          path-to-profile: profile.cov
          flag-name: Go-${{ matrix.go-version }}
          parallel: true

  golangci:
    strategy:
      matrix:
        go-version: ${{ fromJSON(needs.get-go-versions.outputs.matrix) }}
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    needs: get-go-versions
    steps:
      - uses: actions/setup-go@f6164bd8c8acb4a71fb2791a8b6c4024ff038dab
      - uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
      - name: golangci-lint
        uses: golangci/golangci-lint-action@5c56cd6c9dc07901af25baab6f2b0d9f3b7c3018
        with:
          version: v1.45.3

  conventional-commits-lint-check:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout code
        uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
        with:
          fetch-depth: 0
      - name: Commitsar Action
        uses: aevea/commitsar@159cec82966ca402a09ae3c185524a5256affa22
